body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}
.links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 15px;
}


.logo {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-right: auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding: 20px 60px;
    font-family: 'Times New Roman', Times, serif;
}

.body-top {
    display: flex;
    background-color: #1f2937; 
    color: white;
    padding: 20px 60px;
}
.top-left {
    width: 300px;
}

.text-one {
    font-size: 48px;
    font-weight: bolder;
}